*{ margin: 0; padding: 0; box-sizing: border-box; }
.login-container{

    height: 100vh;
    background-color: blueviolet;
}
.login-form{
    background-color: bisque;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login-titulo{ color: #fff;}

.btn-group{

}
input,button{
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}
